<div *ngFor="let page of _pages; let i = index" (dblclick)="_Edit(i)">{{page.about}}</div>
<div class="col-md-12" *ngIf="_editing">
<textarea class="form-control" [(ngModel)]="_editabletext">
{{_editabletext}}
</textarea>
  <button class="btn-success btn" (click)="_Save()">Save!</button>
</div>
