<div class="panel panel-default col-md-4" >
  <div class="panel-heading">{{city.name}} <i class="fa fa-times pull-right pointer" (click)="delete.emit(index)"></i></div>
  <div class="panel-body">{{city.main.temp_min}} ... {{city.main.temp_max}}
    <br><img src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png">
  </div>
</div>
