<form [ngFormModel]="loginForm" (submit)="_DoRegister($event)" class="col-md-6 col col-md-offset-3">
  <input ngControl="email" type="email" placeholder="email" class="form-control">
  <input ngControl="password" type="password" placeholder=" Пароль" class="form-control">
  <input ngControl="name" type="text" placeholder="Имя" class="form-control">
  <button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>
