<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/register">Регистрация</a></li>
      <li><a routerLink="/mysities">Погода</a></li>
      <li><a routerLink="/greeting">Статья</a></li>
    </ul>
  </div>
</nav>
