<div class="input-group">
  <input type="text" class="form-control" #search [(ngModel)]="_inputvalue"/>
  <span class="input-group-btn">
    <button class="btn btn-default" (click)="searchcity.emit(search.value)" type="button"
            [disabled]="!_inputvalue.length">Go!</button>
  </span>
</div>
