<div class="row">
  <city-search (searchcity)="_search($event)"></city-search>
</div>
<div class="row">
  <city-once [city]="weather" *ngFor="let weather of _weatherlist; let i = index" [index]="i"
             (delete)="_delete($event)"></city-once>
</div>
